[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Backend-Porfolio-EC2
ExecStart=/home/ubuntu/Backend-Porfolio-EC2/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          portafolio.wsgi:application
[Install]
WantedBy=multi-user.target
